.job-application-form {
  max-width: 700px;
  margin: auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  font-family: sans-serif;
}

.job-application-form h2 {
  text-align: left;
  color: #003366;
  margin-bottom: 2rem;
}

.job-application-form .row {
  display: flex;
  gap: 30px;
  
  margin-bottom: 1rem;
}

.job-application-form .row > div {
  flex: 1;
}

.job-application-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.job-application-form input[type="text"],
.job-application-form input[type="email"],
.job-application-form input[type="tel"],
.job-application-form input[type="url"],
.job-application-form input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.job-application-form button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.job-application-form button:hover {
  background-color: #0055aa;
}

.job-application-form span.required {
  color: red;
}
.job-application-form{
    margin-top: 20px;
    margin-bottom: 20px;
}
